# Ignore everything:
/*

# Except for the themes directories:

!.gitignore
!Controller/
!Dimmer/
!EventButton/
!libraries/

libraries/*
!libraries/Button/
libraries/Button/examples
!libraries/Controller/
!libraries/Dimmer/
!libraries/Scene/
!libraries/Adafruit/
libraries/Adafruit/examples